<header>
  <h1>Relytory inventory system</h1>
</header>
<nav>
  <a href="/" class="navLink">Home</a>
  <a href="/allBikes" class="navLink">All Bikes</a>
  <a href="/brand" class="navLink">Brands</a>
  <a href="/category" class="navLink">Categories</a>
</nav>