<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Relytory categories</title>
</head>
<body>
  <h2>Pick a bike category:</h2>
  <div class="categories">
    <% categories.forEach((category) => { %>
      <a href="/category/<%= category.cat_name %>/bikes"><%= category.cat_name %></a>
    <% })  %>
  </div>
  <!--TODO: add footer-->
</body>
</html>