<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Relytory new bike</title>
</head>
<body>
  <form action="" method="post" onsubmit="this.submit(); this.reset(); return false;">
    <label for="bikeName">Name: </label>
    <input type="text" name="bikeName" id="name">
    <label for="bikeSpeeds">Speeds: </label>
    <input type="text" name="bikeSpeeds" id="speeds">
    <label for="bikeQuantity">Quantity: </label>
    <input type="number" name="bikeQuantity" id="quantity">
    <label for="bikePrice">Price: </label>
    <input type="number" name="bikePrice" id="price">
    <label for="bikeBrand">Brand: </label>
    <select name="bikeBrand" id="brands">
      <option value="" disabled hidden selected>--Choose an option--</option>
      <% brands.forEach((brand) => { %>
        <option value=<%= brand.name %>><%= brand.name %></option>
      <% }) %>
    </select>      
    <label for="bikeCategory">Category: </label>
    <select name="bikeCategory" id="category">
      <option value="" disabled hidden selected>--Choose an option--</option>
      <% categories.forEach((category) => { %>
        <option value=<%= category.name %>><%= category.name %></option>
      <% }) %>
    </select>      
    <button type="submit">Submit</button>
  </form>
</body>
</html>