<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Relytory Home</title>
</head>
<body>
  <h1>Relytory, best Inventory solution!</h1>
  <div>
    <a href="/allBikes">All</a>
    <a href="/brand">Brands</a>
    <a href="/category">Categories</a>
  </div>
  <%- include('Partials/footer') %>
</body>
</html>